.upper {
  width: 100vw;
  height: 15vh;
  display: flex;
}
.upperleft {
  width: 35%;
  height: 100%;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.word1 {
  font-size: 75px;
  font-family: monospace;
  margin-right: 120px;
}
.upperright {
  width: 65%;
  height: 100%;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button1 {
  font-size: 45px;
  width: 175px;
  height: 75px;
  background-color: white;
  color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: cursive;
}
.button2 {
  font-size: 45px;
  font-family: cursive;
}
.bottom {
    width: 100vw;
    height: 85vh;
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.word2 {
    font-size: 100px;
    color: white;
}
.button3 {
    width: 400px;
    height: 75px;
    background-color: orange;
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 1px darkorange;
}